<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: linear-gradient( #753a88, #cc2b5e);height:100vh">
<center><div style="position: relative; top: 40vh">

<form method="post">
<input type="text" name="username" placeholder="Desired Username" /><br><br>
        {% csrf_token %}
   <button style="border: 3px solid #2193b0 ; border-radius: 5px; text-decoration: none; background-color: #2193b0;
color:black">submit</button>

</form>
</div></center>
</body>
</html>